::-webkit-scrollbar {
	display:none;
}

body {
	align-items: center;
	background:black;
	display:flex;
	height:100vh;
	justify-content: center;
	margin:0;
	overflow:hidden;
	padding:0;
}

a {
	color:black;
	text-decoration: underline;
}

#content_wrapper {
	height:650px;
	overflow:hidden;
	position:relative;
	width:850px;
}

#content {
	-ms-overflow-style: none; /*IE hide scrollbar*/
	background:white;
	font-family: 'Hoefler Text';
	overflow-x:scroll;
	overflow-y:hidden;
	perspective: 1px;
	transform-style: preserve-3d;
}

header{
	transform: translateX(390px) translateZ(-5px) scale(6) translateY(-186px);
	background: url("../media/images/Pith_PITH.jpg") 30px 30px/210px no-repeat,
							url("../media/images/Pith_ByJonahReider.jpg") 30px 125px/210px no-repeat,
							url("../media/images/Pith_Rosemary.jpg") 300px -10px/50px no-repeat,
							url("../media/images/Pith_Fish.jpg") 420px -5px/170px no-repeat,
							url("../media/images/Pith_Mint.jpg") 670px 10px/90px no-repeat,
							url("../media/images/Pith_Glass.jpg") 390px 90px/55px no-repeat,
							url("../media/images/Pith_Cherry.jpg") 580px 90px/80px no-repeat,
							url("../media/images/Pith_Wine.jpg") 810px 30px/65px no-repeat,
							url("../media/images/Pith_Oyster.jpg") 900px 30px/105px no-repeat;
	height:208px;
	position:relative;
	width:1010px;
}

#cut_off_bottle {
	position:relative;
	width:60px;
	left:815px;
	top:40px;
}

#main {
	display:grid;
	grid-gap: 40px;
	height:calc(650px - 208px);
	width:100%;
}

.strip {
	position:relative;
	-ms-overflow-style: none; /*IE hide scrollbar*/
	grid-row:1;
	height:calc(650px - 208px);
	min-width:295px;
	overflow:auto;
	padding:5px;
}

	.strip p {
		-webkit-font-smoothing: antialiased;
		font-size:13.5px;
		line-height: 1.6em;
		padding-bottom:15px;
		text-rendering: optimizeLegibility;
	}

	.strip h1 {
		font-variant: small-caps;
		font-weight:normal;
	}

#contact_section img {
	margin-bottom:40px;
	width:295px;
}

#about_section {
	margin-left:20px;
}

	#about_section a {
		font-style: italic;
		text-decoration: none;
	}

#contact_section {
	padding-right:20px;
}

#contact_section p:nth-of-type(2) {
	margin: 0 0 -20px 0;
	padding: 0;
}

#menu {
	margin-bottom:1.7em;
}

.tito-wrapper {
		margin-bottom:30px;
}

.tito-ticket-list {
	-webkit-font-smoothing: antialiased;
	font-size:13.5px;
	font-weight:normal;
	list-style-type: none;
	padding:0;
	text-rendering: optimizeLegibility;
}

.tito-badge-link, .sold-out {
		display:none;
}

.tito-ticket-price-quantity-wrapper, .tito-ticket-price-quantity, .tito-ticket-price {
	display:inline;
}

.tito-ticket-name-wrapper {
	display:inline;
}

.tito-ticket-name {
	width:100%;
}

.tito-ticket-quantity  {
	display: inline;
}

.tito-ticket {
	margin-bottom:5px;
	line-height:1.5em;
}

.tito-ticket-description {
	display: inline;
	font-style: italic;
	line-height: 1.6em;
}

.tito-ticket-price-quantity-wrapper {
	float: right;
}

input {
	width:25px;
	height:18px;
}

button, input {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		font-size: 11pt;
		border: 1px black solid;
		-webkit-appearance: none;
		font-family: 'Hoefler Text';
}

button {
		background:white;
		padding:5px 8px 5px 8px;
}

li span {
	font-style:italic;
	text-align:right;
}

#bottom_gradient {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 42%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 42%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 42%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	height:52px;
	position:absolute;
	bottom:0;
	width:100%;
}

/*#right_gradient {
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 42%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 42%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 42%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
	height:calc(650px - 208px);
	position:absolute;
	right: 0;
	top: 208px;
	width: 52px;
}*/

#arrow {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid black;
	content: "";
	cursor: pointer;
	height: 0;
	position: absolute;
	right: 10px;
	top: 325px;
	width: 0;
	z-index:1;
}

@font-face {
	font-family: 'Hoefler Text';
	src:url("../media/fonts/hoefler_text.ttc")
}

@-moz-document url-prefix() {
	header {
		position:relative;
		width: 900px;
		transform: translateX(100px) translateZ(-5px) scale(6) translateY(-186px);
	}
}

@media (max-width: 850px) {
	#content_wrapper {
		width:100%;
	}

	header {
		width:200%;
		left:calc(250vw - 400px);
	}
}

@media (max-height:650px) {
	#content_wrapper {
		height: 100%;
	}

	#content {
		height: inherit;
	}

	header {
		position:fixed;
		top:0;
		transform:translateX(-2px) translateY(-2px);
	}

	#main {
		position:absolute;
		top:208px;
		height:calc(100vh - 208px);
	}

	.strip {
		height:calc(100vh - 208px);
	}
}

@media screen and (max-height:650px) and (max-width:850px) {
	header {
		left:0;
		position:fixed;
		top:0px;
		transform:translateX(-2px) translateY(-2px);
		width:1010px;
		/*transform: translateX(390px) translateZ(-5px) scale(6);*/
	}

	@media screen and (max-width:500px), (max-height:500px) and (max-width: 850px) {
		body {
			overflow:hidden;
			width:100%;
		}

		.tito-tito-pith-supper-club-1-tickets-embed, #main, .strip, body {
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		body, html {
			-webkit-overflow-scrolling: auto;
		}

		#content, #content_wrapper {
			display:auto;
			height:100%;
			left:0;
			overflow:hidden;
			position:absolute;
			top:0;
			width:100%;
		}
		#content {
			overflow-y:scroll;
		}
		header{
			background: url("../media/images/Pith_PITH.jpg") 30px 30px/150px no-repeat,
												url("../media/images/Pith_ByJonahReider.jpg") 30px 100px/150px no-repeat,
												url("../media/images/Pith_Rosemary.jpg") 200px -20px/50px no-repeat,
												url("../media/images/Pith_Fish.jpg") 290px 50px/170px no-repeat,
												url("../media/images/Pith_Oyster.jpg") 470px -15px/115px no-repeat,
												url("../media/images/Pith_Mint.jpg") 590px 80px/90px no-repeat;
			background-color:white;
			border-bottom: 1px #EEEEEE solid;
			height: 145px;
			position:fixed;
			top: 0;
			transform: none;
			width:1010px;
			z-index:1;
		}

		#main {
			display:block;
			height:100%;
			position:relative;
			top: 145px;
			max-width:100%;
		}
		.strip {
			box-sizing:border-box;
			float: left;
			height: auto;
			display:block;
			padding: 0 30px 0 30px;
			max-width:100%;
		}

		#bottom_gradient {
			display:none;
		}

		#about_section {
			margin:0;
		}

		#arrow {
			display:none;
		}
	}
}
